.rating-area {
    grid-area: rating-area;
    display: flex;
    align-items: center;
}

.vote-answer {
    display: flex;
}

.vote-answer__btn {
  margin-left: 15px;
  padding: 6px 15px;
}

.answer-rating {
  text-align: center;
}

.rating {
  display: inline-flex;
  cursor: pointer;
}

.star {
  font-size: 24px;
  color: #ccc;
  transition: color 0.2s;
}

.star.filled {
  color: gold;
}

.thanks {
    margin-left: 15px;
}

/* В будущем сделать более привлекательный цвет */
.agree-btn:hover {
    background-color: green; 
}

.disagree-btn:hover {
    background-color: red;
}