.header__left-menu {
    display: flex;
    align-items: center;
}

.header__left-menu__wrapper-logo {
    margin: 0 24px;
    height: 40px;
}

@media (max-width:1024px) {
    .header__left-menu__wrapper-logo {
        height: 34px;
    }

    .header__left-menu__wrapper-logo {
        height: 24px;
        margin: 0 16px;
    }
}