.content-module {
    border: 1px solid var(--modules-border-primary);
    fill: var(--font-dark-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background: 0;
    cursor: pointer;
}

.content-module__icon {
    width: 24px;
    height: 24px;
}


@media (max-width:767px) {
    .content-module {
        border: 0;
        padding: 0;
    }
}